root = true

[*]
indent_style = tab
indent_size = 3
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.{js,jsx,ts,tsx}]
quote_type = single
bracket_same_line = true
bracket_spacing = true
semi = false
trailing_comma = es5

[*.json]
indent_style = tab
indent_size = 3
end_of_line = lf
quote_type = double
trailing_comma = none

[*.css]
indent_style = tab
indent_size = 3
end_of_line = lf
quote_type = single